<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<div class="home_page_wrapper">
    <h1>Budget Tool</h1>
    <p class="secondary-text">Welcome to the Budgeting Tool!</p>

    <a class="create-acc-btn" href="/createAcc">Create Your Budget!</a>
<div class="description_wrapper">
    <p class="secondary-text">Create and manage your budget in a simple and easy to use platform.</p>
    <ul>
        <li class="secondary-text">Easy to understand overview of your budget.</li>
        <li class="secondary-text">Create spending categories.</li>
        <li class="secondary-text">Monthly income caclulations.</li>
        <li class="secondary-text">Track your monthly income and spending.</li>
    </ul>
</div>
    <h3>Overview and stats</h3>
    <img src="./img/OverviewScreenshot.png" alt="Screenshot of overview page.">
    
    <h3>Monthly tracking</h3>
    <img src="./img/ThisMonthScreenshot.png" alt="Screenshot of Monthly tracking.">

    <h3>Easy budget building</h3>
    <img src="./img/BudgetScreenshot.png" alt="Screenshot of budget building.">
    <a class="create-acc-btn" href="/createAcc">Create Your Budget!</a>
</div>

<%- include("partials/footer.ejs") %> 