<%- include("partials/header.ejs")  %>
<%- include("partials/nav.ejs") %>

<h1>Welcome to the budgeting tool</h1>
<p class="infoText">Enter your login information</p>
<form id="loginForm" name="login" action="/login" method="POST">
    <input type="email" name="userEmail" id="loginEmailInput" autocomplete="off" placeholder="email">
    <input type="password" name="password" id="loginPassInput" autocomplete="off" placeholder="password">
    <button type="submit" onclick="validateLogin(event)">Log in</button>
</form>
<p>Don't have an account yet?</p>
<a href="/createAcc">create account</a> <!-- this will be a button that shows the below form to creat an account-->

<script src="./js/login.js"></script>
<%- include("partials/footer.ejs") %> 