<%- include("partials/header.ejs")  %>
<%- include("partials/nav.ejs") %>

<h1>Welcome to the budgeting tool</h1>

<form name="login" action="/" method="post">
    <input type="text" name="userName" id="userNameInput" autocomplete="off" placeholder="userName / email">
    <input type="password" name="password" id="userPassInput" autocomplete="off" placeholder="password">
    <button type="submit">Log in</button>
</form>
<p>Don't have an account yet?</p>
<a href="">create account</a>

<%- include("partials/footer.ejs") %> 