<%- include("partials/header.ejs")  %>
<%- include("partials/nav_stripped.ejs") %>
<div class="login">
    <h1>Login</h1>
    <p class="infoText secondary-text">Enter your details below to continue.</p>
    <form id="loginForm" class="login-form" name="login" action="/login" method="POST">
        <input type="email" name="email" id="loginEmailInput" autocomplete="off" placeholder="Email">
        <input type="password" name="password" id="loginPassInput" autocomplete="off" placeholder="Password">
        <button type="submit" onclick="validateLogin(event)">Login</button>
    </form>
    <p class="create-acc secondary-text">Don't have a login? <a class="creat-acc-link" href="/createAcc">Sign up!</a></p>
</div>

<script src="./js/login.js"></script>
<%- include("partials/footer.ejs") %> 