:root {
  --main-color: #242540;
  --main-color-alpha: #242540c4;
  --main-blue: #4907D9;
  --main-text-white: #E5E5E5;
  --secondary-text: #8B8CAC;
  --second-blue: #03A7DB;
  --main-green: #0B8C68;
  --second-green: #0B8C68;
  --black: #000;
  --white: #fff;
  --off-main: #2a2b4e;
}

* {
  text-align: center;
  margin: auto auto;
}

body {
  background-color: var(--main-color);
  color: var(--main-text-white);
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, -apple-system;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
h2 {
  font-size: 1.6rem;
   margin: 1rem 0;
}
p {
  font-size: 1rem;
}

hr {
  border-color: var(--main-green);
  border-bottom-width: 2px;
  max-width: 13rem;
}

a:link, a:visited a:hover, a:active {
  text-decoration: none;
}

input, select, textarea, select, textarea:focus, input:focus {
  color:var(--main-text-white);
}

button {
  background-color: var(--main-text-white);
  color: var(--main-color);
  border: none;
}

.form_div {
  margin-top: 1.5rem;
}

.form_div form input, .form_div form select{
  width: 10rem;
  height: 20px;
  border-radius: 2px;
  margin: 0 .2rem;
  border-color: var(--main-text-white);
  color: var(--main-color);
}

.form_div form input:focus, .form_div form select:focus{
  outline: none !important;
  border: 1px solid var(--second-blue);
}

.form_div button {
  height: 24px;
  width: 60px;
  background-color: var(--main-text-white);
}

.top-stats p {
  margin: 1rem 0;
}

.input_div {
  display: inline-block;
  text-align: left;
}
.input_div label{
  padding-left: 2px;
  margin-bottom: 5px;
  display: inline-block;
}
.input_div input, .input_div select {
  display: block;
  width: 100%;
}

/* * NAV STYLE */
nav {
  margin-bottom: 2rem;
  background-color: var(--main-text-white);
  height: 48px;
  display: flex;
  flex-direction: row;
}

nav ul {
  width: 75%;
  display: flex;
  list-style: none;
  align-items: flex-start;
}

nav ul li, nav ul li a, nav ul li a:visited {
  color: var(--main-color);
  font-weight: bold;
  margin: 0 12px;
  opacity: 0.8;
  transition: 0.2s;
}

nav ul li:hover {
  opacity: 1;
}

.login h1 {
  margin-bottom: 0;
}

#logout-button, .nav-stripped-btn {
  width: 15%;
}
.nav-stripped-btn, .nav-stripped-btn a:visited {
  color: var(--second-blue);
}
#logout-button, #logout-button a:visited{
  color: var(--main-color);
}

/* * TABLE STYLES */

table {
    margin: 1.5rem auto;
  }
  
  /* Default Table Style */
  table {
    color: var(--main-text-white);
    background: var(--main-color);
    border: none;
    font-size: 1rem;
    border-collapse: collapse;
    
  }

  table tr:nth-child(even)  {
    background-color: var(--off-main);
  }

  table thead th,
  table tfoot th {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--secondary-text);
    background: var(--main-color);
  }
  table caption {
    padding:.5rem;
  }
  table th,
  table td {
    padding: .5rem;
    border: none;
    text-align: left;
  }

  tr td button {
    background-color: var(--main-color);
    font-size: .8rem;
    padding: 5px 10px;
    color: var(--main-text-white);
  }
  tr:nth-child(even) td button {
    background-color: var(--off-main);
  }

  ::-webkit-datetime-edit-text { color: var(--main-color); }
  ::-webkit-datetime-edit-month-field { color: var(--main-color); }
  ::-webkit-datetime-edit-day-field { color: var(--main-color); }
  ::-webkit-datetime-edit-year-field { color: var(--main-color); }
  ::-webkit-inner-spin-button { display: none; }


/* *POPUP STYLES */
  .popup-container {
    position: fixed;
    background-color: var(--main-color);
    top: -25px;
  }

  .popupEdit {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--main-color-alpha);
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .popup-container form {
    background-color: var(--main-color);
    padding: 20px;
    margin: 0 auto;
    border: 2px solid var(--main-green);
    border-radius: 5px;
  }
  .popup-container p {
    margin-bottom: 10px;
  }

  .hidePopupEdit {
    display: none;
  }



  /* *Login page styles */

  .login, .new-acc{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .login label, .new-acc label {
    display: none;
  }

  .secondary-text{
    color: var(--secondary-text);
  }

  .login-form, .new-acc-form{
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
  }

  .login-form input, .new-acc-form input{
    text-align: left;
    height: 2rem;
    color: var(--main-text-white);
    background-color: var(--main-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--main-text-white);
    margin: 1rem 0;
  }
  
  .login-form ::placeholder, .new-acc-form ::placeholder {
    color: var(--main-text-white);
    opacity: .8;
  }

  .login button, .new-acc button {
    background-color: var(--main-blue);
    color: var(--main-text-white);
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2.5rem 0;
    transition: 0.4s;
  }

  .login button:hover, new-acc button:hover{
    background-color: var(--second-blue);
  }
  
  .create-acc {
    margin-bottom: 2rem;
  }

  a.creat-acc-link {
    color: var(--second-blue);
    text-decoration: none;
  }

  /* *Overview Styles */

  .overview-page table {
    background: var(--main-color);
    color:var(--main-text-white);
    border: none;
    margin-bottom: 1rem;
  }

  .overview-page td {
    text-align: left;
    border: none;
  }

  .overview-page th {
    border: none;
    color: var(--secondary-text);
    font-size: 0.8rem;
  }

  .overview-page p {
    color: var(--secondary-text);
    margin-bottom: 1rem;
  }

  .pieChart, .graph {
    margin-bottom: 1rem;
  }

  /* *Budget Styles */



  /* * Income Styles */


  /* * This month Styles */

  /* * Home page styles */

  .home_page_wrapper img {
    background-color: var(--off-main);
    padding: 10px;
    max-width: 850px;
    width: 90%;
  }

  .home_page_wrapper a {
    background-color: var(--main-blue);
    color:var(--main-text-white);
    text-decoration: none;
    padding: 10px 20px;
    margin: 2rem auto;
    max-width: fit-content;
    display: block;
    border-radius: 5px;
  }

  .description_wrapper {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px 30px;
    text-align: left;
    margin: 2rem auto;
  }
  .description_wrapper ul li{
    text-align: left;
  }
  .description_wrapper ul {
    margin: 0;
  }
  .description_wrapper p {
    margin: 0;
  }

  .home_page_wrapper h3 {
    margin: 3rem 0 1rem 0;
    color: var(--main-green);
  }

  #changeMonthInput {
    margin-bottom: 1.5rem;
  }

  .spending h3, .deposit h3, .budgetProgress h3 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  /* *FOOTER STYLES */

  footer {
    border-top: 1px solid var(--main-text-white);
    display: flex;
    flex-direction: column;
    color: var(--secondary-text);
    font-size: .8rem;
    padding: 1rem;
  }

  footer p {
    margin: .5rem;
    font-size: .8rem;
  }

  footer a:link, footer a:visited{
    color:var(--second-blue);
    margin: .1rem;
  }