<div id="popupIncomeItemUpdate" class="popupEdit hidePopupEdit">
    <form class="incomeItemUpdate" action="/updateIncomeItem" method="post">
        <label for="incomeName">Income Name</label>
        <input class="nameInput" name="incomeName" type="text" required autofocus value="">
        <label for="hourlyRate"> Hourly Rate</label>
        <input class="hourlyRateInput" name="hourlyRate" type="number" step=".01" required value="">
        <label for="hoursPerWeek">Hr/Week</label>
        <input class="hoursPerWeek" name="hoursPerWeek" type="number" step="0.01" required value="">
        <label for="taxRate">Tax Rate</label>
        <input class="taxRateInput" name="taxRate" type="number" step=".01" value="">
        <label for="tithe">Tithe</label>
        <input class="titheInput" name="tithe" type="number" step=".01" value="">
        <label for="retirement">Retirement</label>
        <input class="retirementInput" name="retirement" type="number" step=".01" value="">
        <input hidden class="idInput" name="itmId" value="0">
    <button class="submitBtn" type="submit">Save</button>
    <button class="cancelBtn" type="button">Cancel</button>
    </form>
</div>