<div class="popupEdit">
    <form action="/updateIncomeItem" method="post">
        <label for="incomeName">Income Name</label>
        <input name="incomeName" type="text" required autofocus value="">
        <label for="hourlyRate"> Hourly Rate</label>
        <input name="hourlyRate" type="number" step=".01" required value="">
        <label for="taxRate">Tax Rate</label>
        <input name="taxRate" type="number" step=".01" value="">
        <label for="tithe">Tithe</label>
        <input name="tithe" type="number" step=".01" value="">
        <label for="retirement">Retirement</label>
        <input name="retirement" type="number" step=".01" value="">
    <button class="submitBtn" type="submit">Save</button>
    <button class="cancelBtn" type="button">Cancel</button>
    </form>
</div>