<div id="popupEditIncome" class="popupEdit">
    <form id="updateIncomeItem" action="/updateIncomeItem" method="post"> <!-- handle route -->
        <input type="text" name="itemName" placeholder="name">
        <input type="number" step="0.01" name="amount" placeholder="amount">
        <input type="date" name="date" value="<%= date %>" min="2010-01-01" max="<%= today %>"> <!-- max should be today-->
        <button type="submit" name="button">add</button>
        <button id="editCancelBtn" type="button" name="cancel" onclick="cancleButtonClick()">Cancle</button>
      </form>
</div>