<nav class="nav-logged-in">
    <ul>
        <li id="overview-li">
            <a href="/overview">Overview</a>
        </li>
        <li id="budget-li">
            <a href="/budgets">Budget</a>
        </li>
        <li id="income-li">
            <a href="/income">Income</a>
        </li>
        <li id="thismonth-li">
            <a href="/thisMonth">This month</a>
        </li>
    </ul>
    <a id="logout-button" href="/logout">log out</a>
</nav>