<nav>
    <ul>
        <li id="home-li">
            <a href="/">Home</a>
    </ul>
    <a id="login-button" class="nav-stripped-btn" href="/login">Log in</a>
    <a id="creatAcc-button" class="nav-stripped-btn" href="/createAcc">Create Account</a>
</nav>