<!-- gets budgets, itmName, amount, categoryId, date -->
<div class="popupEdit">

    <label for="spendingItem">spending</label>
    <form id="spendingItem" class="" action="/spendingItemUpdate" method="post">
      <input type="text" name="itemName" placeholder="name" required autofocus>
      <input type="number" step="0.01" name="amount" placeholder="ammount" required>
      <select name="category" form="spendingItem">
        <option value="0" default>uncategorized</option>
  
        <% budgets.forEach(element => { %> 
          <option value="<%= element.id %>"> <%= element.category %> </option>
        <% }); %>
        <!-- populates based on budget categories -->
      </select>
      <input type="date" name="date" value="<%= date %>" min="2010-01-01" max="<%= today %>"> <!-- max should be today -->
      <button type="submit" name="save">save</button>
      <button type="button" name="cancel" onclick="cancle.js"></button> <!-- !make this close out the popup -->
    </form>

</div>